body {
  background-color: rgb(245, 245, 245);
  color: rgb(20, 2, 2);
}
* {
    margin: 0;
    padding: 0;
}

/*---------Navigation--------*/


#nav-bar

#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:black;
    color: #e62121;
} 





/*-------------Weekly News--------*/

#weeklynews {
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
    background: #efefef;
    text-align: center;
}
.weekly-news {
    background-color: blue;
    padding-top: 40px;
    padding-bottom: 40px;
}

#weekly-quote {
    background-color: gray;
}

#weekly-recipe {
    background: #333;
    color: rgb(235, 235, 235);
}

#weekly-workout-challenge {
    background-color: gray;
}

#weekly-fitness-article {
    background: #333;
    color: rgb(235, 235, 235);
}

/*----------Workouts----------*/

#workouts {
    background: #333;
    color: rgb(235, 235, 235);
    padding: 12px;
    text-align: center;
}

.twelve-week-program ul {
    text-align: left;
}




/*-----------Recipes-------*/
#recipes {
    padding: 40px 0;
    color: black;
    background: #efefef;
    text-align: center;
}

.twelve-week-recipies ul {
    text-align: left;
}

#week-one {
    background-color: gray;
}

#week-two {
    background-color: blue;
}

#week-three {
    background-color: gray;
}

#week-four {
    background-color: blue;
}

#week-five {
    background-color: blue;
}

#week-six {
    background-color: gray;
}

#week-seven {
    background-color: blue;
}

#week-eight {
    background-color: gray;
}

#week-nine {
    background-color: gray;
}

#week-ten {
    background-color: blue;
}

#week-eleven {
    background-color: gray;
}

#week-twelve {
    background-color: blue;
}



/*---------------Health and Fitness Info---------*/

#healthandfitnessinfo {
    background: #333;
    color: rgb(235, 235, 235);
    padding: 12px;
    text-align: center;
}

/*----------- PT Exercises--------*/

#ptexercises {
    padding: 40px 0;
    color: black;
    background: #efefef;
}


/*---------Get Schooled Up-------*/

#schooled {
    background: #333;
    color: rgb(235, 235, 235);
    padding: 12px;


/*---------Footer------*/


#footer {
    background: #333;
    color: rgb(243, 14, 14);
    padding: 12px;
}


